# vim:filetype=r:textwidth=80:expandtab:shiftwidth=4:softtabstop=4
useDynLib(gsw, .registration=TRUE)

importFrom("utils", "data")
importFrom("testthat", "expect_equal")

export(argfix,
       gsw_adiabatic_lapse_rate_from_CT,
       gsw_adiabatic_lapse_rate_ice,
       gsw_alpha,
       gsw_alpha_on_beta,
       gsw_alpha_wrt_t_exact,
       gsw_alpha_wrt_t_ice,
       gsw_beta,
       gsw_beta_const_t_exact,
       gsw_cabbeling,
       gsw_C_from_SP,
       gsw_chem_potential_water_ice,
       gsw_chem_potential_water_t_exact,
       gsw_cp_ice,
       gsw_cp_t_exact,
       gsw_CT_first_derivatives,
       gsw_CT_first_derivatives_wrt_t_exact,
       gsw_CT_freezing,
       gsw_CT_freezing_first_derivatives,
       gsw_CT_freezing_first_derivatives_poly,
       gsw_CT_freezing_poly,
       gsw_CT_from_enthalpy,
       gsw_CT_from_entropy,
       gsw_CT_from_pt,
       gsw_CT_from_rho,
       gsw_CT_from_t,
       gsw_CT_maxdensity,
       gsw_CT_second_derivatives,
       gsw_deltaSA_from_SP,
       gsw_dilution_coefficient_t_exact,
       gsw_dynamic_enthalpy,
       gsw_enthalpy,
       gsw_enthalpy_CT_exact,
       gsw_enthalpy_diff,
       gsw_enthalpy_first_derivatives,
       gsw_enthalpy_first_derivatives_CT_exact,
       gsw_enthalpy_ice,
       gsw_enthalpy_second_derivatives,
       gsw_enthalpy_second_derivatives_CT_exact,
       gsw_enthalpy_t_exact,
       gsw_entropy_first_derivatives,
       gsw_entropy_from_pt,
       gsw_entropy_ice,
       gsw_entropy_from_t,
       gsw_entropy_second_derivatives,
       gsw_Fdelta,
       gsw_frazil_properties,
       gsw_frazil_properties_potential,
       gsw_frazil_properties_potential_poly,
       gsw_frazil_ratios_adiabatic,
       gsw_frazil_ratios_adiabatic_poly,
       gsw_geo_strf_dyn_height,
       gsw_geo_strf_dyn_height_pc,
       gsw_gibbs,
       gsw_gibbs_ice,
       gsw_grav,
       gsw_Helmholtz_energy_ice,
       gsw_ice_fraction_to_freeze_seawater,
       gsw_internal_energy,
       gsw_internal_energy_ice,
       gsw_IPV_vs_fNsquared_ratio,
       gsw_kappa,
       gsw_kappa_const_t_ice,
       gsw_kappa_ice,
       gsw_kappa_t_exact,
       gsw_latentheat_evap_CT,
       gsw_latentheat_evap_t,
       gsw_latentheat_melting,
       gsw_melting_ice_equilibrium_SA_CT_ratio,
       gsw_melting_ice_equilibrium_SA_CT_ratio_poly,
       gsw_melting_ice_into_seawater,
       gsw_melting_ice_SA_CT_ratio,
       gsw_melting_ice_SA_CT_ratio_poly,
       gsw_melting_seaice_into_seawater,
       gsw_Nsquared,
       gsw_p_from_z,
       gsw_pot_rho_t_exact,
       gsw_pot_enthalpy_from_pt_ice,
       gsw_pot_enthalpy_from_pt_ice_poly,
       gsw_pot_enthalpy_ice_freezing,
       gsw_pot_enthalpy_ice_freezing_poly,
       gsw_pot_enthalpy_ice_freezing_first_derivatives,
       gsw_pot_enthalpy_ice_freezing_first_derivatives_poly,
       gsw_pressure_coefficient_ice,
       gsw_pressure_freezing_CT,
       gsw_pt0_from_t,
       gsw_pt0_from_t_ice,
       gsw_pt_first_derivatives,
       gsw_pt_from_CT,
       gsw_pt_from_entropy,
       gsw_pt_from_pot_enthalpy_ice,
       gsw_pt_from_pot_enthalpy_ice_poly,
       gsw_pt_from_t,
       gsw_pt_from_t_ice,
       gsw_pt_second_derivatives,
       gsw_rho,
       gsw_rho_alpha_beta,
       gsw_rho_first_derivatives,
       gsw_rho_first_derivatives_wrt_enthalpy,
       gsw_rho_ice,
       gsw_rho_second_derivatives,
       gsw_rho_second_derivatives_wrt_enthalpy,
       gsw_rho_t_exact,
       gsw_SAAR,
       gsw_SA_freezing_from_CT,
       gsw_SA_freezing_from_CT_poly,
       gsw_SA_freezing_from_t,
       gsw_SA_freezing_from_t_poly,
       gsw_SA_from_rho,
       gsw_SA_from_SP,
       gsw_SA_from_SP_Baltic,
       gsw_SA_from_Sstar,
       gsw_seaice_fraction_to_freeze_seawater,
       gsw_SR_from_SP,
       gsw_sigma0,
       gsw_sigma1,
       gsw_sigma2,
       gsw_sigma3,
       gsw_sigma4,
       gsw_sound_speed,
       gsw_sound_speed_ice,
       gsw_sound_speed_t_exact,
       gsw_specvol,
       gsw_specvol_alpha_beta,
       gsw_specvol_anom_standard,
       gsw_specvol_first_derivatives,
       gsw_specvol_first_derivatives_wrt_enthalpy,
       gsw_specvol_ice,
       gsw_specvol_second_derivatives,
       gsw_specvol_second_derivatives_wrt_enthalpy,
       gsw_specvol_t_exact,
       gsw_SP_from_C,
       gsw_SP_from_SA,
       gsw_SP_from_SK,
       gsw_SP_from_SR,
       gsw_SP_from_Sstar,
       gsw_spiciness0,
       gsw_spiciness1,
       gsw_spiciness2,
       gsw_Sstar_from_SA,
       gsw_Sstar_from_SP,
       gsw_t_deriv_chem_potential_water_t_exact,
       gsw_t_freezing,
       gsw_t_freezing_first_derivatives,
       gsw_t_freezing_first_derivatives_poly,
       gsw_t_from_CT,
       gsw_t_from_pt0_ice,
       gsw_thermobaric,
       gsw_Turner_Rsubrho,
       gsw_z_from_p)

